# Python core
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Database
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Logs
*.log

# Celery beat schedule (binary runtime state)
celerybeat-schedule.*

# IDE & OS
.vscode/
.idea/
.DS_Store